@model IEnumerable<MovieProject.Models.Movie>

@{
    ViewData["Title"] = "Index2";
}

<h1>Index2</h1>

//


<form asp-controller="Products" asp-action="Index" method="get">
            <input type="text" name="InputName"  placeholder="Enter name" />
            <br />
            <br />

           
            <input type="text" name="InputUser"  placeholder="Enter password name" />
            <br />
            <br />

                <input type="submit" class="btn btn-primary" value="log in" />
           
        
</form>

